/*TODO: загальний стиль для адекватних розмірів*/
* {
    box-sizing: border-box;
}

/*TODO: розтягуємо БОДІ на весь екран, задаємо основні стилі*/
body, html {
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
    height: 100%;
    font-family: Arial, serif;
    font-size: 32px;
    color: #000;
}

/*TODO: код без повторень для всіх дівів*/
div {
    padding: 10px;
    background-color: rgba(0, 0, 0, .3);
}

/*TODO: стилі для основного блоку*/
.board {
    min-height: 100%;
    height: 100%;

    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    /*TODO: ініціалізація ітератора з назвою `column`*/
    counter-reset: column;
}

.column {
    display: inline-block;
    height: 100%;
    max-height: 100%;
    width: 200px;
    max-width: 200px;
    overflow-y: auto;
    margin-right: 10px;

    /*TODO: ініціалізація ітератора `row` для маленьких блоків*/
    counter-reset: row;
    counter-increment: column;
}

.column::before {

    content: counter(column) ' ';
}

.column .row {
    height: 50px;

    margin-bottom: 10px;
}

.column .row::before {
    counter-increment: row;
    content: counter(column) "." counter(row) " ";
}
